@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.notes {
  background-color: #fff;
  margin: 20px;
  height: 400px;
  width: 400px;
}
.text-container{
  position: relative;;
}

.text-container .cover{
  padding: 0px 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(162, 207, 103);
  width: 300px;
  height: 300px;
}


.text-container textarea{
  left: 0;
  top: 0;
  position: absolute;
  background-color: bisque;
  width: 300px;
  height: 300px;
}
.hidden{
  display: none;
}

